Repository nus-cs2030/1920-s2, pull requests merged in 2020-02, with the labels that each got.

#30 Add Section for Generics in Static Methods
  contents/textbook/lecture05/staticGenerics/staticGenerics.md
  contents/textbook/textbook.md
Labels: :book: Textbook Contribution

#32 Add Section on Unbounded WildCards from Piazza
  contents/textbook/lecture05/unboundWildcards/unboundWildcards.md
Labels: :book: Textbook Contribution

#31 Adding Piazza Contributors Onto Main Master Branch
  contents/textbook/lecture05/staticGenerics/staticGenerics.md
  contents/textbook/lecture05/unboundWildcards/unboundWildcards.md
  contents/textbook/textbook.md
Labels: :bookmark: Piazza

#41 Saad Haider : variable initialised twice in Chapter 1
  contents/textbook/lecture01/imperativeProgramming/examples.md
Labels: :hammer: Fix, :heavy_check_mark: Approved

#42 Zhou Zijian: Update unboundWildcards.md
  contents/textbook/lecture05/unboundWildcards/unboundWildcards.md
Labels: :hammer: Fix, :heavy_check_mark: Approved

#43 Zhang Yunjie: Update staticGenerics
  contents/textbook/lecture05/staticGenerics/staticGenerics.md
Labels: :book: Textbook Contribution

#33 Gan Wan Cheng Isaac: Added a segment about the diamond operator
  contents/textbook/lecture05/theDiamond/theDiamond.md
Labels: :book: Textbook Contribution

#38 Chen Xihao : include new advantage of factory method
  contents/textbook/lecture02/factoryMethods/factoryMethods.md
Labels: :book: Textbook Contribution

#37 Bennett Clement : Add generic subtype
  contents/textbook/lecture05/genericSubtypes/genericSubtypes.md
Labels: :book: Textbook Contribution

#34 Zheng Yexun, Bryan: Create wrapperClass.md
  contents/textbook/lecture05/wrapperClass.md
Labels: :book: Textbook Contribution

#36 Udayagiri Nikhila Sai: Added Summary on Type Erasure
  contents/textbook/lecture05/Summary of Type Erasure
Labels: :book: Textbook Contribution

#40 Han Zong Yu: Generics
  contents/textbook/lecture05/generics/generics.md
Labels: :book: Textbook Contribution

#35 Wang Pei: Lecture 5 - bounded Wildcards
  contents/textbook/lecture05/boundedWildcards/bounedWildcards.md
Labels: :book: Textbook Contribution
