Repository nus-cs2030/1920-s2, pull requests merged in 2020-03, with the labels that each got.

#47 Li Ruochen: Corrected typos and mistakes
  contents/textbook/lecture01/abstractionVsEncapsulation/abstractionVsEncapsulation.md
  contents/textbook/lecture01/tellDontAsk/tellDontAsk.md
  contents/textbook/lecture02/summary/chapter-summary.md
Labels: :hammer: Fix, :heavy_check_mark: Approved

#46 Han Zong Yu: Raw types
  contents/textbook/lecture05/What is raw type/raw type.md
Labels: :book: Textbook Contribution

#50 Leng Qian Yi: Updated Chapter Summary.md
  contents/textbook/lecture02/summary/chapter-summary.md
Labels: :book: Textbook Contribution, :hammer: Fix, :heavy_check_mark: Approved

#52 Lourdesia Vivyan : Update abstraction
  contents/textbook/lecture01/abstraction/abstraction.md
Labels: :book: Textbook Contribution

#51 Phillmont Muktar : Assertions, Exception Handling, Throwing Exceptions, and Misc
  contents/textbook/lecture06/errorHandling/assertions.md
  contents/textbook/lecture06/errorHandling/errorHandling.md
  contents/textbook/lecture06/errorHandling/throwingExceptions.md
  contents/textbook/lecture07/functionalInterfaces/functionalInterfaces.md
  contents/textbook/misc/filesWSL/filesWSL.md
  contents/textbook/textbook.md
Labels: :book: Textbook Contribution

#54 Leng Qian Yi: Override toString and equals method
  contents/Textbook/lecture02/overrideToString/Override_toString_and_equals_method.md
Labels: :book: Textbook Contribution

#56 Yuki Neo Wei Qian: Added examples for factoryMethods.md
  contents/textbook/lecture02/factoryMethods/factoryMethods.md
  contents/textbook/lecture03/summary/chapter-summary.md
Labels: :book: Textbook Contribution

#57 Kim Young Jin : new file
  contents/textbook/lecture05/genericsManifestoPartOne/index.md
Labels: :book: Textbook Contribution

#58 Zhou Zijian: update Functional Interface
  contents/textbook/lecture07/functionalInterfaces/functionalInterfaces.md
Labels: :book: Textbook Contribution

#60 Remove Duplicate Files
  contents/Textbook/lecture02/overrideToString/overrideToString.md
  contents/Textbook/lecture10/monadsIntro/extraMonads.md
  contents/Textbook/lecture10/monadsIntro/makingTheMonad.md
Labels: :hammer: Fix

#61 Leng Qian Yi: Optional.md
  contents/textbook/lecture07/Optional/Optional.md
Labels: :book: Textbook Contribution

#62 Added note on variable capture by Jason Tay
  contents/textbook/lecture07/VariableCapture/VariableCapture.md
  contents/textbook/lecture08/Streams/pipelineAndLaziness.md
Labels: :book: Textbook Contribution
